@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


:root {
    --white: #f9f9f9;
    --dark: rgba(0, 0, 0, 0.814);
    --green-light: #00df5e;
    --yellow: #f7df1e;
    --gray: #b1afaf;
    --gray-100: 
    --gray-200: #333333;
    --gray-400: #212121;
    --gray-400-rgb: 33, 33, 33;
    --gray-0:rgb(162, 161, 161);
    --alpha: 0.8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
}


body {
    background-color: var(--dark);
    color: var(--white);
    font-size: 1vw;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}


div.container {
    width: 80%;
}
header{
    display: flex;
    justify-self: center;
    width: 100%;
    height: 7vw;
    margin-top: 3vw;
    top: 0;
    position: relative;
    background-color: rgba(var(--gray-400-rgb), var(--alpha));

}
header section.contacts{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2vw;
}

header section.contacts div.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    height: 6vw;


}    


header section.contacts div.contact div.icon{
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    border-radius: 1vw;
    margin-top: .4vw;
    margin-bottom: .4vw;

    

}

header section.contacts div.contact div.icon i{
    font-size: 3vw;
    color: var(--yellow);

}



header section.contacts h1{
    font-size: 2.5vw;
    font-weight: 700;
    margin-left:5vw;
    margin-top:1vw;

}
header section.contacts h2{
    font-size: 2vw;
    font-weight: 700;
    color: var(--yellow);
    margin-top:1.5vw;
}

header section.contacts div.contact span{
    text-decoration:underline;
    text-align:center;

}



div.sidebar {
width:15%;
text-align:center;

margin-top:0;
margin-bottom: 20vw;
position:absolute;
height: 75vw;
background-color:var(--gray-400);
left:0;
}
div.sidebar h2{
    margin:1vw;
    font-size: 2vw;
}

button {
    font-family: 'DM Sans', sans-serif;
    font-size: 1vw;
    font-weight: 600;

}

.btn .cv {
    width: 75%;
    height: 3vw;
    color: var(--dark);
    background-color: var(--yellow);
    border: 0;
    margin:.5vw;
}

#pdf {
    color: var(--dark);
}


section.about-me {
    position: absolute;
    width: 60%;
    right: 20vw;
    text-align:center;
    background-color: var(--gray-100); 
    margin-bottom: 4vw;
    margin-top: 3vw;
}

section.about-me h2 {
    font-size: 4vw;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 3vw;
    text-align:center;
    width:100%;
}

section.about-me p {

    font-size: 2vw;
    font-weight: 400;
    color: var(--gray);
    line-height: 3vw;
    text-align: center;
    margin: 1vw;

}







section.projects {
    width:60%;
    position: absolute;
    text-align:center;
    right:20vw;
    align-items: center;
    margin-bottom: 10vw;
    top: 50vw;
    

}

section.projects h2 {
    font-size: 3vw;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 3vw;
    text-align:center;
    width:100%;
}

section.projects h1 {
    font-size: 2.25vw;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 3vw;
}

div.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;

}

div.card {
    width: 29vw;
    height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-400);
    border: .1vw solid var(--gray-200);

}

div.cards div.card div.img-project {
    margin-top: 2vw;
    width: 28vw;
    height: 20vw;
    overflow: hidden;
    background-color: var(--gray-400);
    margin-bottom: 2vw;
    border: .1vw solid var(--gray-200);
}

div.cards div.card div.description-project {
    width: 26vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.cards div.card div.description-project span.title-project {
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

div.cards div.card span.tag-project {
    font-size: 2vw;
    font-weight: 400;
    color: var(--gray);
}





.target::before {
    content: '';
    display: block;
    height: 6vw;
    /* fixed header height*/
}

article {
    width: 80%;
    background-color: rgb(37, 37, 37);
    position: relative;
    margin-bottom:100vw;
    margin-top: 150vw;
    text-align:center;


}

article h1 {
    font-size: 2vw;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2vw;
    margin-top: 2vw;
}
article p {
    margin-bottom: 1vw;
    font-size: 2vw;
    width: 90%;
    margin-left: 5%; 

}


article img{
    border: 1vw solid rgb(35, 35, 35);
    width: 90%;
    margin-top: 1vw;
    position: relative;
    bottom: 1vw;
}

article h3 {
    font-size: 1vw;
    font-weight: 400;
    background-color: rgb(36, 36, 36);
    width: 90%;
}
table {
margin:2%;
text-align:center;
align-items: center;
position:absolute;


}

article p a {
    color:var(--yellow);
    font-size:1.5vw;
    text-decoration: underline;

}

article p{
    font-size:1.5vw;
}

article div.goto-top a {
    left: 15%;
    position: absolute;
    border: var(--yellow) solid;
    border-radius: .5vw;
    background-color: var(--gray-400);
    width: 11%;
    font-size: 1.5vw;
    line-height: 2vw;
    color: var(--yellow);
    margin-top: 2vw;
}

td{
    border: 1vw solid var(--yellow);
    padding: 1%;
    text-align: left;
    width: 30%;

    
  }

  th{
    width: 70%;
     border: 1vw solid var(--gray-0);
    padding: 1%;
        font-size: .5vw; }

